dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

.npm
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
